@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Open+Sans:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --font-padrao:'Open Sans', sans-serif;
    --font-destaque: 'Cinzel', serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: black;
}

/* header */
header {


}

header > img {
    max-width: 550px;
    display: block;
    margin: auto;
    padding-top: 50px;
}

nav {
    text-align: center;
    margin-top: 40px;
}

nav > a {
    font-family: var(--font-destaque);
    font-size: 2em;
    font-weight: bolder;
    text-decoration: none;
    color: white;
    padding: 10px;
    transition-duration: .3s;
}
nav > a:hover {
    background-color: white;
    color: black;
    border-radius: 5px;
}
/* Main */

main h1 {
    color: white;
    font-family: var(--font-destaque);
    margin-bottom: 10px;
}

main  p {
    color: white;
    font-family: var(--font-padrao);
}

#Doutor {
    font-family: var(--font-padrao);
    font-size: 1.2em;
    padding-left: 30px;
    width: 700px;
    margin-top: 520px;
}

#imgdoutor {
    max-width: 450px;
    float: right;
    padding-right: 40px;
    
}

#Wanda {
    font-family: var(--font-padrao);
    font-size: 1.2em;
    padding-right: 30px;
    text-align: left;
    margin-top: 550px;
    
}

#imgwanda {
    max-width: 600px;
    float: left;
    margin-top: 400px;
}

/*Footer*/

footer {
    margin-top: 500px;
    background-color: white;
    text-align: center;
    font-family: var(--font-padrao);
    font-weight: bolder; 
}
footer p {
    padding: 5px;
}

footer p > a {
    text-decoration: none;
}

footer p > a:hover {
    text-decoration: underline;
    color: brown;
}